body {
  background: linear-gradient(135deg, #231942 0%, #5e548e 45%, #9f86c0 100%);
  background-attachment: fixed;
  background-size: cover;
}

.mainContainer {
  background: #5E548E
}

.cardContainer {
  width: 500px;
  margin: 3rem;
  margin: 5rem auto;
}
